/* .hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #222;
    color: white;
  }
  .highlight {
    color: cyan;
  }
   */