<!-- <app-header></app-header>
<app-hero></app-hero>
<app-about></app-about>
<app-projects></app-projects>
<app-contact></app-contact> -->


<app-header></app-header>

<section class="hero" [ngClass]="{ 'hide': isScrolled }">
  <app-hero></app-hero>
</section>

<section class="about" [ngClass]="{ 'hide': isScrolled }">
  <app-about></app-about>
</section>

<section class="projects" >
  <app-projects></app-projects>
</section>

<section class="contact">
  <app-contact></app-contact>
</section>

<router-outlet></router-outlet>
